<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyxt.mapper.OrderMapper">

  <resultMap id="orderResultMap" type="com.hyxt.entity.Order">
    <result column="order_id" jdbcType="BIGINT" javaType="Long" property="orderId"/>
    <result column="order_name" jdbcType="VARCHAR" javaType="String" property="orderName"/>
    <result column="app_code" jdbcType="VARCHAR" javaType="String" property="appCode"/>
    <result column="create_time" jdbcType="DATE" javaType="Date" property="createTime"/>
  </resultMap>


  <sql id="Base_Column_List">
       order_id,order_name,app_code,create_time
  </sql>

  <insert id="save" parameterType="com.hyxt.entity.Order">
    insert into `order`(order_id,order_name,app_code,create_time) values (#{orderId},#{orderName},#{appCode},#{createTime})
  </insert>

  <select id="findAll" resultMap="orderResultMap">
    select  * from `order`
  </select>

  <select id="findByAppCodeAndTime" resultMap="orderResultMap">
     select  * from `order` where app_code = #{appCode} and create_time > #{beginDate} and create_time  <![CDATA[<]]>  #{endDate} order by create_time
  </select>

  <select id="findPage" resultMap="orderResultMap">
    select  * from `order` where app_code = #{appCode} and create_time > #{beginDate} and create_time  <![CDATA[<]]>  #{endDate} order by create_time
  </select>


</mapper>